In [1]:
import pandas as pd
import datetime
import yfinance as yf
import backtrader as bt
import numpy as np
import warnings

In [2]:
from Data_Preprocess import IAM_data_setup, download_IAM, SelectIndex, generate_interval
from Data_Preprocess import calculate_returns, calculate_date_range

In [3]:
assets, asset_classes = IAM_data_setup()

In [4]:
display(asset_classes['Sector'].unique())
display(asset_classes['Class'].unique())

array(['Consumer Defensive', 'Real Estate', 'Industrials', 'Technology',
       'Cash', 'Municipal', 'Financial Services', 'Energy', 'Index',
       'Corporate', 'Healthcare', 'Consumer Cyclical', 'International',
       'Treasury', 'Ultrashort', 'Basic Materials', 'High Yield', 'ETF',
       'Agency'], dtype=object)

array(['Equity', 'Cash', 'Fixed Income', 'Commodity', 'Crypto'],
      dtype=object)

In [5]:
print(assets)

['0341.HK', '0405.HK', '0737.HK', '0P00001DU6', '0P00002C5C', '0P00006OXK.T', '0P0000UIC0', '0P0000VP5F', '0P0000YVJG', '0P0000Z5AZ', '0P0000ZJFK', '0P00013N6C', '0P0001DFIZ', '0P0001DHN3', '0P0001Q45W.HK', '0P0001Q87U', '1186.HK', '1810.HK', '3175.HK', '3187.HK', '9988.HK', 'ADDYY', 'AGGU.L', 'ARKG', 'ARKK', 'BABA', 'BIL', 'CSBGU7.SW', 'ERND.L', 'GLD', 'GOVT', 'HYGH', 'HYLD.L', 'HYMB', 'IAGG', 'IBIT', 'IBTS.SW', 'IDEV', 'IDTL.L', 'IDTM.L', 'IEF', 'IEMB.L', 'IGIL.L', 'IGSB', 'IHYU.L', 'ISAG.L', 'ISTB', 'IVE', 'IWRD.L', 'JDN.MX', 'LQDE.L', 'METV', 'PAVE', 'SDHY.L', 'SGOV', 'SHV', 'SHY', 'TFLO', 'TLT', 'USO', 'VGIT', 'ZM']

In [6]:
display(asset_classes.shape)
display(asset_classes.T)

(62, 6)

,0,1,2,3,4,5,6,7,8,9,...,52,53,54,55,56,57,58,59,60,61
Assets,0341.HK,0405.HK,0737.HK,0P00001DU6,0P00002C5C,0P00006OXK.T,0P0000UIC0,0P0000VP5F,0P0000YVJG,0P0000Z5AZ,...,TFLO,USO,ZM,TLT,BIL,IEF,VGIT,SGOV,SHY,0P0001Q45W.HK
Class,Equity,Equity,Equity,Equity,Cash,Equity,Fixed Income,Fixed Income,Fixed Income,Equity,...,Fixed Income,Commodity,Equity,Fixed Income,Fixed Income,Fixed Income,Fixed Income,Fixed Income,Fixed Income,Cash
Sector,Consumer Defensive,Real Estate,Industrials,Technology,Cash,Industrials,Municipal,Financial Services,Energy,Index,...,Treasury,Energy,Technology,Treasury,Treasury,Treasury,Treasury,Treasury,Treasury,Cash
Type,Stock,RIT,Stock,Fund,Fund,Fund,Fund,Fund,Fund,Fund,...,ETF,ETF,Stock,ETF,ETF,ETF,ETF,ETF,ETF,Fund
Currency,HKD,HKD,HKD,USD,USD,JPY,USD,USD,USD,USD,...,USD,USD,USD,USD,USD,USD,USD,USD,USD,HKD
Rate,0.128205,0.128205,0.128205,1.0,1.0,0.0066,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.128205

In [7]:
asset_classes[asset_classes['Assets'] == '0P0001Q45W.HK']

           Assets Class Sector  Type Currency      Rate
61  0P0001Q45W.HK  Cash   Cash  Fund      HKD  0.128205

In [9]:
# Download and generate full data file from yfinance
# Date range
start = '2013-01-01'
end = '2024-09-30'

df = yf.download(assets, start=start, end=end)

[*********************100%***********************]  62 of 62 completed

In [10]:
df.to_csv("IAM_full_data.txt")

In [15]:
# Downloading data
data = download_IAM()
start = data.index[0]
end = data.index[-1]
print(start, " , ", end)
display(data.shape)
display(data.head())
display(data.tail())

2013-01-02 00:00:00+00:00  ,  2024-09-27 00:00:00+00:00

(3030, 372)

Price                      Adj Close                                 \
Ticker                       0341.HK   0405.HK   0737.HK 0P00001DU6
Date
2013-01-02 00:00:00+00:00  15.133362  1.645048  2.076490        NaN
2013-01-03 00:00:00+00:00  15.237492  1.649469  2.086059        NaN
2013-01-04 00:00:00+00:00  15.202783  1.649469  2.081275        NaN
2013-01-07 00:00:00+00:00  15.202783  1.689269  2.105197        NaN
2013-01-08 00:00:00+00:00  15.306908  1.680425  2.095629        NaN

Price                                                                    \
Ticker                    0P00002C5C 0P00006OXK.T 0P0000UIC0 0P0000VP5F
Date
2013-01-02 00:00:00+00:00        NaN          NaN        NaN        NaN
2013-01-03 00:00:00+00:00        NaN          NaN        NaN        NaN
2013-01-04 00:00:00+00:00        NaN          NaN        NaN        NaN
2013-01-07 00:00:00+00:00        NaN          NaN        NaN        NaN
2013-01-08 00:00:00+00:00        NaN          NaN        NaN        NaN

Price                                            ... Volume              \
Ticker                    0P0000YVJG 0P0000Z5AZ  ...   PAVE SDHY.L SGOV
Date                                             ...
2013-01-02 00:00:00+00:00        NaN        NaN  ...    NaN    NaN  NaN
2013-01-03 00:00:00+00:00        NaN        NaN  ...    NaN    NaN  NaN
2013-01-04 00:00:00+00:00        NaN        NaN  ...    NaN    NaN  NaN
2013-01-07 00:00:00+00:00        NaN        NaN  ...    NaN    NaN  NaN
2013-01-08 00:00:00+00:00        NaN        NaN  ...    NaN    NaN  NaN

Price                                                                      \
Ticker                          SHV        SHY TFLO         TLT       USO
Date
2013-01-02 00:00:00+00:00  259200.0  2469100.0  NaN   7472700.0  693100.0
2013-01-03 00:00:00+00:00  357500.0  1816100.0  NaN  10004300.0  489425.0
2013-01-04 00:00:00+00:00  303100.0  1028700.0  NaN   9574600.0  742613.0
2013-01-07 00:00:00+00:00  288400.0   672300.0  NaN   4193100.0  356675.0
2013-01-08 00:00:00+00:00  140900.0   712300.0  NaN   4380900.0  480188.0

Price
Ticker                         VGIT  ZM
Date
2013-01-02 00:00:00+00:00   50900.0 NaN
2013-01-03 00:00:00+00:00   23300.0 NaN
2013-01-04 00:00:00+00:00   35000.0 NaN
2013-01-07 00:00:00+00:00   26000.0 NaN
2013-01-08 00:00:00+00:00  130100.0 NaN

[5 rows x 372 columns]

Price                     Adj Close                                        \
Ticker                      0341.HK 0405.HK 0737.HK 0P00001DU6 0P00002C5C
Date
2024-09-23 00:00:00+00:00      7.73    0.95    1.86  83.570000     1.9333
2024-09-24 00:00:00+00:00      7.76    0.98    1.86  85.919998     1.9336
2024-09-25 00:00:00+00:00      7.87    1.01    1.83  86.209999     1.9339
2024-09-26 00:00:00+00:00      8.04    1.03    1.85  89.349998     1.9341
2024-09-27 00:00:00+00:00      8.36    1.11    1.85  91.949997     1.9344

Price                                                                    \
Ticker                    0P00006OXK.T 0P0000UIC0 0P0000VP5F 0P0000YVJG
Date
2024-09-23 00:00:00+00:00          NaN  19.179701  18.190001      15.33
2024-09-24 00:00:00+00:00       2876.0        NaN  18.200001      15.33
2024-09-25 00:00:00+00:00       2862.0        NaN  18.190001      15.33
2024-09-26 00:00:00+00:00       2945.0        NaN  18.200001      15.33
2024-09-27 00:00:00+00:00       2860.0        NaN  18.219999      15.33

Price                                  ...     Volume                      \
Ticker                     0P0000Z5AZ  ...       PAVE   SDHY.L       SGOV
Date                                   ...
2024-09-23 00:00:00+00:00  289.839996  ...   628600.0   1364.0  5220900.0
2024-09-24 00:00:00+00:00  290.820007  ...   586100.0   1697.0  3923500.0
2024-09-25 00:00:00+00:00  291.339996  ...  1364500.0  10793.0  3372400.0
2024-09-26 00:00:00+00:00  294.070007  ...   699300.0  32704.0  4364400.0
2024-09-27 00:00:00+00:00  292.700012  ...   939400.0   3897.0  4945400.0

Price                                                                   \
Ticker                           SHV        SHY       TFLO         TLT
Date
2024-09-23 00:00:00+00:00  3188200.0  5030800.0  1797400.0  35703900.0
2024-09-24 00:00:00+00:00  3068800.0  8947900.0  1876900.0  31005400.0
2024-09-25 00:00:00+00:00  3090200.0  4829100.0   975800.0  36738200.0
2024-09-26 00:00:00+00:00  3071100.0  2321800.0  1301200.0  33332300.0
2024-09-27 00:00:00+00:00  4247700.0  3208500.0  2162400.0  28317600.0

Price
Ticker                           USO       VGIT         ZM
Date
2024-09-23 00:00:00+00:00  2837700.0  2391600.0  2526600.0
2024-09-24 00:00:00+00:00  2387000.0  1570400.0  2294700.0
2024-09-25 00:00:00+00:00  3469200.0  1787400.0  2479900.0
2024-09-26 00:00:00+00:00  4593800.0  1907800.0  2018900.0
2024-09-27 00:00:00+00:00  3214700.0  1617600.0  1417500.0

[5 rows x 372 columns]

In [12]:
#  all test is from the 1004th day and finish at the last testdata day.
#
start_test = 1004
end_test = data.shape[0] - 1
test_size = 1000
print(f" Testing data from {start_test} to {end_test}")

 Testing data from 1004 to 3029

In [13]:
rebalance_index = {}
rebalance_index["M"] = SelectIndex(data, mode="M", start_index=start_test)
rebalance_index["Q"] = SelectIndex(data, mode="Q", start_index=start_test)
rebalance_index["S"] = SelectIndex(data, mode="S", start_index=start_test)
print(rebalance_index)

{'M': [1009, 1030, 1051, 1071, 1094, 1113, 1136, 1158, 1179, 1202, 1223, 1245, 1267, 1287, 1309, 1329, 1350, 1371, 1394, 1415, 1437, 1460, 1480, 1503, 1525, 1545, 1567, 1587, 1608, 1629, 1652, 1672, 1695, 1717, 1738, 1761, 1782, 1803, 1825, 1845, 1867, 1888, 1909, 1931, 1954, 1975, 1997, 2019, 2040, 2062, 2082, 2102, 2125, 2146, 2167, 2189, 2211, 2233, 2255, 2276, 2298, 2321, 2342, 2362, 2385, 2405, 2427, 2449, 2470, 2493, 2515, 2536, 2558, 2579, 2600, 2620, 2643, 2662, 2685, 2707, 2728, 2751, 2772, 2794, 2816, 2836, 2858, 2879, 2899, 2921, 2944, 2964, 2987, 3009, 3029], 'Q': [1030, 1094, 1158, 1223, 1287, 1350, 1415, 1480, 1545, 1608, 1672, 1738, 1803, 1867, 1931, 1997, 2062, 2125, 2189, 2255, 2321, 2385, 2449, 2515, 2579, 2643, 2707, 2772, 2836, 2899, 2964, 3029], 'S': [1030, 1158, 1287, 1415, 1545, 1672, 1803, 1931, 2062, 2189, 2321, 2449, 2579, 2707, 2836, 2964]}

In [14]:
r_index={}
r_index["M"] = generate_interval(data, rebalance_index["M"], "rebalance_index_M.csv")
r_index["Q"] = generate_interval(data, rebalance_index["Q"], "rebalance_index_Q.csv")
r_index["S"] = generate_interval(data, rebalance_index["S"], "rebalance_index_S.csv")
r_index["S"]

                           Date
index
1030  2016-12-30 00:00:00+00:00
1158  2017-06-30 00:00:00+00:00
1287  2017-12-29 00:00:00+00:00
1415  2018-06-29 00:00:00+00:00
1545  2018-12-31 00:00:00+00:00
1672  2019-06-28 00:00:00+00:00
1803  2019-12-31 00:00:00+00:00
1931  2020-06-30 00:00:00+00:00
2062  2020-12-31 00:00:00+00:00
2189  2021-06-30 00:00:00+00:00
2321  2021-12-31 00:00:00+00:00
2449  2022-06-30 00:00:00+00:00
2579  2022-12-30 00:00:00+00:00
2707  2023-06-30 00:00:00+00:00
2836  2023-12-29 00:00:00+00:00
2964  2024-06-28 00:00:00+00:00

In [17]:
returns = calculate_returns(data)
display(returns)
returns.to_csv("IAM_Returns.txt")

/home/thomas/projects/Fund_Portfolio_Allocation/Data_Preprocess.py:78: FutureWarning: The default fill_method='pad' in DataFrame.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  return c_data.pct_change().round(4)

,0341.HK,0405.HK,0737.HK,0P00001DU6,0P00002C5C,0P00006OXK.T,0P0000UIC0,0P0000VP5F,0P0000YVJG,0P0000Z5AZ,...,PAVE,SDHY.L,SGOV,SHV,SHY,TFLO,TLT,USO,VGIT,ZM
Date,,,,,,,,,,,,,,,,,,,,,
2013-01-02 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-03 00:00:00+00:00,0.0069,0.0027,0.0046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0000,0.0000,NaN,-0.0136,-0.0024,-0.0032,NaN
2013-01-04 00:00:00+00:00,-0.0023,0.0000,-0.0023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0000,0.0001,NaN,0.0039,0.0041,-0.0002,NaN
2013-01-07 00:00:00+00:00,0.0000,0.0241,0.0115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-0.0001,0.0000,NaN,0.0004,0.0012,0.0008,NaN
2013-01-08 00:00:00+00:00,0.0068,-0.0052,-0.0045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0000,0.0001,NaN,0.0066,0.0012,0.0018,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,-0.0026,-0.0206,0.0137,0.0059,0.0004,0.0000,0.0064,0.0006,0.0007,0.0010,...,0.0025,0.0021,0.0003,0.0002,0.0000,0.0002,-0.0021,-0.0092,-0.0005,0.0187
2024-09-24 00:00:00+00:00,0.0039,0.0316,0.0000,0.0281,0.0002,-0.0066,0.0000,0.0005,0.0000,0.0034,...,0.0027,-0.0023,0.0001,0.0001,0.0010,0.0002,-0.0002,0.0144,0.0015,0.0093
2024-09-25 00:00:00+00:00,0.0142,0.0306,-0.0161,0.0034,0.0002,-0.0049,0.0000,-0.0005,0.0000,0.0018,...,-0.0057,0.0012,0.0000,0.0002,-0.0008,0.0002,-0.0083,-0.0247,-0.0028,-0.0213
2024-09-26 00:00:00+00:00,0.0216,0.0198,0.0109,0.0364,0.0001,0.0290,0.0000,0.0005,0.0000,0.0094,...,0.0096,-0.0008,0.0001,0.0001,-0.0010,-0.0002,0.0024,-0.0346,-0.0012,0.0140
2024-09-27 00:00:00+00:00,0.0398,0.0777,0.0000,0.0291,0.0002,-0.0289,0.0000,0.0011,0.0000,-0.0047,...,0.0034,0.0041,0.0004,0.0004,0.0016,0.0004,0.0052,0.0183,0.0033,0.0094

In [18]:
df = calculate_date_range(data, returns.columns.to_list())
display(df)

Process 0341.HK

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2013-01-02 00:00:00+00:00,15.133362,21.799999,22.15,21.700001,22.000000,1298000.0
2013-01-03 00:00:00+00:00,15.237492,21.950001,22.00,21.850000,21.950001,246000.0
2013-01-04 00:00:00+00:00,15.202783,21.900000,22.00,21.900000,21.950001,396000.0
2013-01-07 00:00:00+00:00,15.202783,21.900000,22.10,21.850000,21.950001,148000.0
2013-01-08 00:00:00+00:00,15.306908,22.049999,22.15,21.850000,21.850000,260000.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,7.730000,7.730000,7.78,7.690000,7.750000,493203.0
2024-09-24 00:00:00+00:00,7.760000,7.760000,7.79,7.690000,7.780000,1246000.0
2024-09-25 00:00:00+00:00,7.870000,7.870000,7.95,7.800000,7.800000,2154001.0
2024-09-26 00:00:00+00:00,8.040000,8.040000,8.05,7.850000,7.870000,2878077.0
2024-09-27 00:00:00+00:00,8.360000,8.360000,8.39,8.120000,8.120000,5458095.0

Process 0405.HK

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2013-01-02 00:00:00+00:00,1.645048,3.677888,3.687774,3.638340,3.638340,8265569.0
2013-01-03 00:00:00+00:00,1.649469,3.687774,3.687774,3.668001,3.677888,7148539.0
2013-01-04 00:00:00+00:00,1.649469,3.687774,3.697661,3.668001,3.687774,7226193.0
2013-01-07 00:00:00+00:00,1.689269,3.776756,3.806416,3.697661,3.697661,17962684.0
2013-01-08 00:00:00+00:00,1.680425,3.756982,3.796529,3.737208,3.776756,9059890.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,0.950000,0.950000,0.970000,0.950000,0.970000,1925637.0
2024-09-24 00:00:00+00:00,0.980000,0.980000,0.980000,0.960000,0.960000,2636255.0
2024-09-25 00:00:00+00:00,1.010000,1.010000,1.020000,0.990000,1.000000,9546278.0
2024-09-26 00:00:00+00:00,1.030000,1.030000,1.040000,0.990000,1.010000,5796622.0
2024-09-27 00:00:00+00:00,1.110000,1.110000,1.120000,1.040000,1.040000,10093139.0

Process 0737.HK

                           Adj Close  Close  High   Low  Open     Volume
Date
2013-01-02 00:00:00+00:00   2.076490   4.34  4.37  4.30  4.31  1843160.0
2013-01-03 00:00:00+00:00   2.086059   4.36  4.37  4.33  4.34  2132180.0
2013-01-04 00:00:00+00:00   2.081275   4.35  4.37  4.34  4.35  1893644.0
2013-01-07 00:00:00+00:00   2.105197   4.40  4.42  4.34  4.36  3520844.0
2013-01-08 00:00:00+00:00   2.095629   4.38  4.40  4.37  4.40  2658400.0
...                              ...    ...   ...   ...   ...        ...
2024-09-23 00:00:00+00:00   1.860000   1.86  1.88  1.81  1.88   111781.0
2024-09-24 00:00:00+00:00   1.860000   1.86  1.89  1.83  1.86   301250.0
2024-09-25 00:00:00+00:00   1.830000   1.83  1.92  1.82  1.86   391750.0
2024-09-26 00:00:00+00:00   1.850000   1.85  1.88  1.85  1.87   196040.0
2024-09-27 00:00:00+00:00   1.850000   1.85  1.88  1.85  1.85   366100.0

[2891 rows x 6 columns]

Process 0P00001DU6

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2019-01-02 00:00:00+00:00,52.230000,52.230000,52.230000,52.230000,52.230000,0.0
2019-01-03 00:00:00+00:00,50.939999,50.939999,50.939999,50.939999,50.939999,0.0
2019-01-04 00:00:00+00:00,52.439999,52.439999,52.439999,52.439999,52.439999,0.0
2019-01-07 00:00:00+00:00,53.070000,53.070000,53.070000,53.070000,53.070000,0.0
2019-01-08 00:00:00+00:00,53.230000,53.230000,53.230000,53.230000,53.230000,0.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,83.570000,83.570000,83.570000,83.570000,83.570000,0.0
2024-09-24 00:00:00+00:00,85.919998,85.919998,85.919998,85.919998,85.919998,0.0
2024-09-25 00:00:00+00:00,86.209999,86.209999,86.209999,86.209999,86.209999,0.0
2024-09-26 00:00:00+00:00,89.349998,89.349998,89.349998,89.349998,89.349998,0.0
2024-09-27 00:00:00+00:00,91.949997,91.949997,91.949997,91.949997,91.949997,0.0

Process 0P00002C5C

                           Adj Close   Close    High     Low    Open  Volume
Date
2019-01-02 00:00:00+00:00     1.7030  1.7030  1.7030  1.7030  1.7030     0.0
2019-01-03 00:00:00+00:00     1.7031  1.7031  1.7031  1.7031  1.7031     0.0
2019-01-04 00:00:00+00:00     1.7032  1.7032  1.7032  1.7032  1.7032     0.0
2019-01-07 00:00:00+00:00     1.7035  1.7035  1.7035  1.7035  1.7035     0.0
2019-01-08 00:00:00+00:00     1.7036  1.7036  1.7036  1.7036  1.7036     0.0
...                              ...     ...     ...     ...     ...     ...
2024-09-23 00:00:00+00:00     1.9333  1.9333  1.9333  1.9333  1.9333     0.0
2024-09-24 00:00:00+00:00     1.9336  1.9336  1.9336  1.9336  1.9336     0.0
2024-09-25 00:00:00+00:00     1.9339  1.9339  1.9339  1.9339  1.9339     0.0
2024-09-26 00:00:00+00:00     1.9341  1.9341  1.9341  1.9341  1.9341     0.0
2024-09-27 00:00:00+00:00     1.9344  1.9344  1.9344  1.9344  1.9344     0.0

[1366 rows x 6 columns]

Process 0P00006OXK.T

                           Adj Close   Close    High     Low    Open  Volume
Date
2022-03-07 00:00:00+00:00     1763.0  1763.0  1763.0  1763.0  1763.0     0.0
2022-03-08 00:00:00+00:00     1729.0  1729.0  1729.0  1729.0  1729.0     0.0
2022-03-09 00:00:00+00:00     1757.0  1757.0  1757.0  1757.0  1757.0     0.0
2022-03-10 00:00:00+00:00     1810.0  1810.0  1810.0  1810.0  1810.0     0.0
2022-03-11 00:00:00+00:00     1776.0  1776.0  1776.0  1776.0  1776.0     0.0
...                              ...     ...     ...     ...     ...     ...
2024-09-20 00:00:00+00:00     2895.0  2895.0  2895.0  2895.0  2895.0     0.0
2024-09-24 00:00:00+00:00     2876.0  2876.0  2876.0  2876.0  2876.0     0.0
2024-09-25 00:00:00+00:00     2862.0  2862.0  2862.0  2862.0  2862.0     0.0
2024-09-26 00:00:00+00:00     2945.0  2945.0  2945.0  2945.0  2945.0     0.0
2024-09-27 00:00:00+00:00     2860.0  2860.0  2860.0  2860.0  2860.0     0.0

[514 rows x 6 columns]

Process 0P0000UIC0

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2019-01-14 00:00:00+00:00,13.715800,13.715800,13.715800,13.715800,13.715800,0.0
2019-01-28 00:00:00+00:00,13.781600,13.781600,13.781600,13.781600,13.781600,0.0
2019-01-31 00:00:00+00:00,13.746000,13.746000,13.746000,13.746000,13.746000,0.0
2019-02-11 00:00:00+00:00,13.774400,13.774400,13.774400,13.774400,13.774400,0.0
2019-02-25 00:00:00+00:00,13.809200,13.809200,13.809200,13.809200,13.809200,0.0
...,...,...,...,...,...,...
2024-08-12 00:00:00+00:00,18.743700,18.743700,18.743700,18.743700,18.743700,0.0
2024-08-26 00:00:00+00:00,18.864799,18.864799,18.864799,18.864799,18.864799,0.0
2024-08-30 00:00:00+00:00,18.944300,18.944300,18.944300,18.944300,18.944300,0.0
2024-09-09 00:00:00+00:00,19.058500,19.058500,19.058500,19.058500,19.058500,0.0
2024-09-23 00:00:00+00:00,19.179701,19.179701,19.179701,19.179701,19.179701,0.0

Process 0P0000VP5F

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2019-01-02 00:00:00+00:00,13.970000,13.970000,13.970000,13.970000,13.970000,0.0
2019-01-03 00:00:00+00:00,13.980000,13.980000,13.980000,13.980000,13.980000,0.0
2019-01-04 00:00:00+00:00,13.980000,13.980000,13.980000,13.980000,13.980000,0.0
2019-01-07 00:00:00+00:00,14.010000,14.010000,14.010000,14.010000,14.010000,0.0
2019-01-08 00:00:00+00:00,14.060000,14.060000,14.060000,14.060000,14.060000,0.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,18.190001,18.190001,18.190001,18.190001,18.190001,0.0
2024-09-24 00:00:00+00:00,18.200001,18.200001,18.200001,18.200001,18.200001,0.0
2024-09-25 00:00:00+00:00,18.190001,18.190001,18.190001,18.190001,18.190001,0.0
2024-09-26 00:00:00+00:00,18.200001,18.200001,18.200001,18.200001,18.200001,0.0
2024-09-27 00:00:00+00:00,18.219999,18.219999,18.219999,18.219999,18.219999,0.0

Process 0P0000YVJG

                           Adj Close  Close   High    Low   Open  Volume
Date
2019-01-02 00:00:00+00:00      11.31  11.31  11.31  11.31  11.31     0.0
2019-01-03 00:00:00+00:00      11.33  11.33  11.33  11.33  11.33     0.0
2019-01-04 00:00:00+00:00      11.45  11.45  11.45  11.45  11.45     0.0
2019-01-07 00:00:00+00:00      11.53  11.53  11.53  11.53  11.53     0.0
2019-01-08 00:00:00+00:00      11.57  11.57  11.57  11.57  11.57     0.0
...                              ...    ...    ...    ...    ...     ...
2024-09-23 00:00:00+00:00      15.33  15.33  15.33  15.33  15.33     0.0
2024-09-24 00:00:00+00:00      15.33  15.33  15.33  15.33  15.33     0.0
2024-09-25 00:00:00+00:00      15.33  15.33  15.33  15.33  15.33     0.0
2024-09-26 00:00:00+00:00      15.33  15.33  15.33  15.33  15.33     0.0
2024-09-27 00:00:00+00:00      15.33  15.33  15.33  15.33  15.33     0.0

[1417 rows x 6 columns]

Process 0P0000Z5AZ

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2022-03-07 00:00:00+00:00,204.729996,204.729996,204.729996,204.729996,204.729996,0.0
2022-03-08 00:00:00+00:00,201.910004,201.910004,201.910004,201.910004,201.910004,0.0
2022-03-09 00:00:00+00:00,210.250000,210.250000,210.250000,210.250000,210.250000,0.0
2022-03-10 00:00:00+00:00,207.860001,207.860001,207.860001,207.860001,207.860001,0.0
2022-03-11 00:00:00+00:00,204.990005,204.990005,204.990005,204.990005,204.990005,0.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,289.839996,289.839996,289.839996,289.839996,289.839996,0.0
2024-09-24 00:00:00+00:00,290.820007,290.820007,290.820007,290.820007,290.820007,0.0
2024-09-25 00:00:00+00:00,291.339996,291.339996,291.339996,291.339996,291.339996,0.0
2024-09-26 00:00:00+00:00,294.070007,294.070007,294.070007,294.070007,294.070007,0.0
2024-09-27 00:00:00+00:00,292.700012,292.700012,292.700012,292.700012,292.700012,0.0

Process 0P0000ZJFK

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2022-03-08 00:00:00+00:00,17.621000,17.621000,17.621000,17.621000,17.621000,0.0
2022-03-09 00:00:00+00:00,17.728001,17.728001,17.728001,17.728001,17.728001,0.0
2022-03-10 00:00:00+00:00,18.239000,18.239000,18.239000,18.239000,18.239000,0.0
2022-03-11 00:00:00+00:00,18.351000,18.351000,18.351000,18.351000,18.351000,0.0
2022-03-14 00:00:00+00:00,18.700001,18.700001,18.700001,18.700001,18.700001,0.0
...,...,...,...,...,...,...
2024-09-20 00:00:00+00:00,33.178001,33.178001,33.178001,33.178001,33.178001,0.0
2024-09-24 00:00:00+00:00,32.882999,32.882999,32.882999,32.882999,32.882999,0.0
2024-09-25 00:00:00+00:00,33.167999,33.167999,33.167999,33.167999,33.167999,0.0
2024-09-26 00:00:00+00:00,33.782001,33.782001,33.782001,33.782001,33.782001,0.0
2024-09-27 00:00:00+00:00,32.963001,32.963001,32.963001,32.963001,32.963001,0.0

Process 0P00013N6C

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2022-03-07 00:00:00+00:00,121.220001,121.220001,121.220001,121.220001,121.220001,0.0
2022-03-08 00:00:00+00:00,120.660004,120.660004,120.660004,120.660004,120.660004,0.0
2022-03-09 00:00:00+00:00,120.309998,120.309998,120.309998,120.309998,120.309998,0.0
2022-03-10 00:00:00+00:00,120.220001,120.220001,120.220001,120.220001,120.220001,0.0
2022-03-11 00:00:00+00:00,120.029999,120.029999,120.029999,120.029999,120.029999,0.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,135.839996,135.839996,135.839996,135.839996,135.839996,0.0
2024-09-24 00:00:00+00:00,135.919998,135.919998,135.919998,135.919998,135.919998,0.0
2024-09-25 00:00:00+00:00,135.899994,135.899994,135.899994,135.899994,135.899994,0.0
2024-09-26 00:00:00+00:00,135.979996,135.979996,135.979996,135.979996,135.979996,0.0
2024-09-27 00:00:00+00:00,136.179993,136.179993,136.179993,136.179993,136.179993,0.0

Process 0P0001DFIZ

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2022-03-08 00:00:00+00:00,11.0440,11.0440,11.0440,11.0440,11.0440,0.0
2022-03-09 00:00:00+00:00,11.0293,11.0293,11.0293,11.0293,11.0293,0.0
2022-03-10 00:00:00+00:00,11.0636,11.0636,11.0636,11.0636,11.0636,0.0
2022-03-11 00:00:00+00:00,11.0210,11.0210,11.0210,11.0210,11.0210,0.0
2022-03-14 00:00:00+00:00,10.9939,10.9939,10.9939,10.9939,10.9939,0.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,12.4289,12.4289,12.4289,12.4289,12.4289,0.0
2024-09-24 00:00:00+00:00,12.4151,12.4151,12.4151,12.4151,12.4151,0.0
2024-09-25 00:00:00+00:00,12.4199,12.4199,12.4199,12.4199,12.4199,0.0
2024-09-26 00:00:00+00:00,12.4174,12.4174,12.4174,12.4174,12.4174,0.0
2024-09-27 00:00:00+00:00,12.4029,12.4029,12.4029,12.4029,12.4029,0.0

Process 0P0001DHN3

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2019-01-02 00:00:00+00:00,149.039993,149.039993,149.039993,149.039993,149.039993,0.0
2019-01-03 00:00:00+00:00,148.449997,148.449997,148.449997,148.449997,148.449997,0.0
2019-01-04 00:00:00+00:00,148.580002,148.580002,148.580002,148.580002,148.580002,0.0
2019-01-07 00:00:00+00:00,149.339996,149.339996,149.339996,149.339996,149.339996,0.0
2019-01-08 00:00:00+00:00,149.509995,149.509995,149.509995,149.509995,149.509995,0.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,120.949997,120.949997,120.949997,120.949997,120.949997,0.0
2024-09-24 00:00:00+00:00,121.769997,121.769997,121.769997,121.769997,121.769997,0.0
2024-09-25 00:00:00+00:00,122.040001,122.040001,122.040001,122.040001,122.040001,0.0
2024-09-26 00:00:00+00:00,123.220001,123.220001,123.220001,123.220001,123.220001,0.0
2024-09-27 00:00:00+00:00,123.690002,123.690002,123.690002,123.690002,123.690002,0.0

Process 0P0001Q45W.HK

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2023-02-09 00:00:00+00:00,10.0000,10.0000,10.0000,10.0000,10.0000,0.0
2023-02-10 00:00:00+00:00,10.0013,10.0013,10.0013,10.0013,10.0013,0.0
2023-02-13 00:00:00+00:00,10.0031,10.0031,10.0031,10.0031,10.0031,0.0
2023-02-14 00:00:00+00:00,10.0041,10.0041,10.0041,10.0041,10.0041,0.0
2023-02-15 00:00:00+00:00,10.0047,10.0047,10.0047,10.0047,10.0047,0.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,10.6890,10.6890,10.6890,10.6890,10.6890,0.0
2024-09-24 00:00:00+00:00,10.6902,10.6902,10.6902,10.6902,10.6902,0.0
2024-09-25 00:00:00+00:00,10.6913,10.6913,10.6913,10.6913,10.6913,0.0
2024-09-26 00:00:00+00:00,10.6924,10.6924,10.6924,10.6924,10.6924,0.0
2024-09-27 00:00:00+00:00,10.6936,10.6936,10.6936,10.6936,10.6936,0.0

Process 0P0001Q87U

                           Adj Close   Close    High     Low    Open  Volume
Date
2022-12-14 00:00:00+00:00     10.514  10.514  10.514  10.514  10.514     0.0
2022-12-15 00:00:00+00:00     10.558  10.558  10.558  10.558  10.558     0.0
2022-12-16 00:00:00+00:00     10.542  10.542  10.542  10.542  10.542     0.0
2022-12-19 00:00:00+00:00     10.384  10.384  10.384  10.384  10.384     0.0
2022-12-20 00:00:00+00:00     10.278  10.278  10.278  10.278  10.278     0.0
...                              ...     ...     ...     ...     ...     ...
2024-09-23 00:00:00+00:00     12.401  12.401  12.401  12.401  12.401     0.0
2024-09-24 00:00:00+00:00     12.482  12.482  12.482  12.482  12.482     0.0
2024-09-25 00:00:00+00:00     12.614  12.614  12.614  12.614  12.614     0.0
2024-09-26 00:00:00+00:00     12.592  12.592  12.592  12.592  12.592     0.0
2024-09-27 00:00:00+00:00     12.589  12.589  12.589  12.589  12.589     0.0

[396 rows x 6 columns]

Process 1186.HK

                           Adj Close  Close  High   Low  Open      Volume
Date
2013-01-02 00:00:00+00:00   5.835953   8.95  9.00  8.83  8.88  13887654.0
2013-01-03 00:00:00+00:00   5.718582   8.77  9.07  8.73  9.05  15423260.0
2013-01-04 00:00:00+00:00   5.972885   9.16  9.32  8.78  8.83  39693926.0
2013-01-07 00:00:00+00:00   5.979405   9.17  9.40  9.16  9.20  16565000.0
2013-01-08 00:00:00+00:00   5.927243   9.09  9.36  9.02  9.20  12541051.0
...                              ...    ...   ...   ...   ...         ...
2024-09-23 00:00:00+00:00   4.490000   4.49  4.49  4.42  4.44   8476696.0
2024-09-24 00:00:00+00:00   4.670000   4.67  4.68  4.49  4.49  14267000.0
2024-09-25 00:00:00+00:00   4.820000   4.82  5.09  4.80  4.80  43939500.0
2024-09-26 00:00:00+00:00   4.980000   4.98  5.01  4.85  4.85  26952120.0
2024-09-27 00:00:00+00:00   5.110000   5.11  5.17  4.96  5.03  50868843.0

[2891 rows x 6 columns]

Process 1810.HK

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2018-07-09 00:00:00+00:00,16.799999,16.799999,17.000000,16.000000,16.600000,462182642.0
2018-07-10 00:00:00+00:00,19.000000,19.000000,19.340000,17.000000,17.000000,534072218.0
2018-07-11 00:00:00+00:00,19.000000,19.000000,19.799999,18.299999,18.500000,374721138.0
2018-07-12 00:00:00+00:00,19.260000,19.260000,19.700001,19.020000,19.400000,132592630.0
2018-07-13 00:00:00+00:00,21.450001,21.450001,21.799999,19.520000,19.600000,364065075.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,20.549999,20.549999,20.799999,19.840000,19.879999,196007468.0
2024-09-24 00:00:00+00:00,21.200001,21.200001,21.450001,20.799999,20.900000,231382970.0
2024-09-25 00:00:00+00:00,20.549999,20.549999,21.850000,20.400000,21.850000,295113558.0
2024-09-26 00:00:00+00:00,21.500000,21.500000,21.500000,20.350000,20.850000,277149964.0
2024-09-27 00:00:00+00:00,21.950001,21.950001,22.450001,21.150000,21.799999,347881602.0

Process 3175.HK

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2016-04-28 00:00:00+00:00,12.1989,12.1989,12.1989,12.1989,12.1989,0.0
2016-04-29 00:00:00+00:00,12.1695,12.1695,12.1695,12.1695,12.1695,0.0
2016-05-03 00:00:00+00:00,11.5690,11.5690,11.5690,11.5690,11.5690,0.0
2016-05-04 00:00:00+00:00,11.6029,11.6029,11.6029,11.6029,11.6029,0.0
2016-05-05 00:00:00+00:00,11.7451,11.7451,11.7451,11.7451,11.7451,0.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,6.6200,6.6200,6.6600,6.6000,6.6550,119600.0
2024-09-24 00:00:00+00:00,6.6650,6.6650,6.6800,6.6000,6.6050,356300.0
2024-09-25 00:00:00+00:00,6.6500,6.6500,6.6800,6.6500,6.6650,148800.0
2024-09-26 00:00:00+00:00,6.3900,6.3900,6.5500,6.3100,6.5400,999800.0
2024-09-27 00:00:00+00:00,6.3650,6.3650,6.3900,6.3050,6.3900,508800.0

Process 3187.HK

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2020-10-14 00:00:00+00:00,2.498000,2.498000,2.498000,2.498000,2.498000,0.0
2020-10-15 00:00:00+00:00,2.508000,2.508000,2.508000,2.508000,2.508000,0.0
2020-10-16 00:00:00+00:00,19.209999,19.209999,19.600000,19.160000,19.600000,282800.0
2020-10-19 00:00:00+00:00,19.160000,19.160000,19.260000,19.059999,19.260000,234000.0
2020-10-20 00:00:00+00:00,18.990000,18.990000,19.160000,18.990000,19.160000,173400.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,16.889999,16.889999,16.969999,16.889999,16.969999,2745.0
2024-09-24 00:00:00+00:00,17.000000,17.000000,17.000000,16.950001,16.950001,1000.0
2024-09-25 00:00:00+00:00,17.030001,17.030001,17.030001,17.000000,17.000000,13000.0
2024-09-26 00:00:00+00:00,16.959999,16.959999,17.030001,16.940001,17.030001,10800.0
2024-09-27 00:00:00+00:00,16.980000,16.980000,17.020000,16.940001,16.959999,30974.0

Process 9988.HK

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2019-11-26 00:00:00+00:00,186.966507,187.600006,189.500000,187.000000,187.000000,74549578.0
2019-11-27 00:00:00+00:00,192.547592,193.199997,195.300003,189.300003,190.000000,53617241.0
2019-11-28 00:00:00+00:00,203.311127,204.000000,204.199997,196.899994,197.000000,41816834.0
2019-11-29 00:00:00+00:00,197.730042,198.399994,204.800003,197.500000,204.000000,36509531.0
2019-12-02 00:00:00+00:00,194.839844,195.500000,198.899994,194.000000,198.000000,26592325.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,86.750000,86.750000,88.699997,86.550003,86.900002,69609537.0
2024-09-24 00:00:00+00:00,92.000000,92.000000,92.199997,88.050003,89.150002,141958511.0
2024-09-25 00:00:00+00:00,91.300003,91.300003,95.000000,90.599998,95.000000,159777709.0
2024-09-26 00:00:00+00:00,97.750000,97.750000,99.250000,91.800003,92.500000,203287208.0
2024-09-27 00:00:00+00:00,102.500000,102.500000,104.900002,100.400002,102.000000,198337444.0

Process ADDYY

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2013-01-02 00:00:00+00:00,38.685047,44.700001,44.750000,44.450001,44.720001,28000.0
2013-01-03 00:00:00+00:00,37.984043,43.889999,44.160000,43.869999,44.110001,21000.0
2013-01-04 00:00:00+00:00,37.958080,43.860001,43.869999,43.450001,43.490002,35700.0
2013-01-07 00:00:00+00:00,37.724407,43.590000,43.599998,43.270000,43.349998,24300.0
2013-01-08 00:00:00+00:00,37.767685,43.639999,43.650002,43.310001,43.459999,25000.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,121.730003,121.730003,122.040001,120.540001,121.599998,13900.0
2024-09-24 00:00:00+00:00,123.410004,123.410004,123.709999,122.699997,123.070000,16000.0
2024-09-25 00:00:00+00:00,123.910004,123.910004,125.800003,123.580002,124.690002,27800.0
2024-09-26 00:00:00+00:00,130.949997,130.949997,131.630005,129.750000,130.740005,29800.0
2024-09-27 00:00:00+00:00,133.399994,133.399994,134.380005,132.779999,132.960007,108000.0

Process AGGU.L

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2017-11-21 00:00:00+00:00,4.99671,4.99671,4.99671,4.99671,4.99671,0.0
2017-11-22 00:00:00+00:00,5.00280,5.00280,5.00280,5.00280,5.00280,0.0
2017-11-23 00:00:00+00:00,5.01625,5.01625,5.01625,5.01625,5.01625,0.0
2017-11-24 00:00:00+00:00,5.00875,5.00875,5.03250,5.01000,5.03250,4003.0
2017-11-27 00:00:00+00:00,5.01125,5.01125,5.01125,5.01125,5.01125,0.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,5.59600,5.59600,5.62000,5.58400,5.62000,711824.0
2024-09-24 00:00:00+00:00,5.59500,5.59500,5.61800,5.58400,5.61800,372870.0
2024-09-25 00:00:00+00:00,5.59600,5.59600,5.62600,5.59300,5.60000,114148.0
2024-09-26 00:00:00+00:00,5.58800,5.58800,5.62100,5.58600,5.62100,149462.0
2024-09-27 00:00:00+00:00,5.58800,5.58800,5.62000,5.58800,5.61700,243278.0

Process ARKG

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2014-10-31 00:00:00+00:00,18.612249,20.100000,20.350000,20.100000,20.330000,5800.0
2014-11-03 00:00:00+00:00,18.584471,20.070000,20.209999,20.059999,20.209999,4000.0
2014-11-04 00:00:00+00:00,18.565950,20.049999,20.049999,19.940001,19.940001,1900.0
2014-11-05 00:00:00+00:00,18.547432,20.030001,20.309999,20.000000,20.309999,4300.0
2014-11-06 00:00:00+00:00,18.285378,19.747000,19.780001,19.700001,19.750000,2000.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,25.350000,25.350000,26.459999,25.340000,26.370001,2383800.0
2024-09-24 00:00:00+00:00,25.360001,25.360001,25.580000,25.075001,25.440001,1052100.0
2024-09-25 00:00:00+00:00,24.840000,24.840000,25.480000,24.760000,25.350000,1860400.0
2024-09-26 00:00:00+00:00,25.580000,25.580000,25.695000,25.125000,25.180000,1658200.0
2024-09-27 00:00:00+00:00,25.629999,25.629999,26.080000,25.580000,25.780001,1956500.0

Process ARKK

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2014-10-31 00:00:00+00:00,18.391508,20.379999,20.420000,20.379999,20.420000,2700.0
2014-11-03 00:00:00+00:00,18.391508,20.379999,20.490000,20.350000,20.490000,2300.0
2014-11-04 00:00:00+00:00,18.283216,20.260000,20.270000,20.200001,20.200001,7900.0
2014-11-05 00:00:00+00:00,18.048586,20.000000,20.510000,20.000000,20.510000,14900.0
2014-11-06 00:00:00+00:00,18.174925,20.139999,20.139999,20.070000,20.090000,2000.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,46.939999,46.939999,47.360001,46.860001,47.095001,3530600.0
2024-09-24 00:00:00+00:00,47.450001,47.450001,47.540001,46.529999,47.240002,3826000.0
2024-09-25 00:00:00+00:00,46.860001,46.860001,47.570000,46.790001,47.349998,4347600.0
2024-09-26 00:00:00+00:00,47.270000,47.270000,47.650002,46.470001,47.549999,6838400.0
2024-09-27 00:00:00+00:00,47.880001,47.880001,48.070000,47.410000,47.619999,4036200.0

Process BABA

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2014-09-19 00:00:00+00:00,90.673950,93.889999,99.699997,89.949997,92.699997,271879400.0
2014-09-22 00:00:00+00:00,86.810966,89.889999,92.949997,89.500000,92.699997,66657800.0
2014-09-23 00:00:00+00:00,84.184128,87.169998,90.480003,86.620003,88.940002,39009800.0
2014-09-24 00:00:00+00:00,87.467667,90.570000,90.570000,87.220001,88.470001,32088000.0
2014-09-25 00:00:00+00:00,85.874191,88.919998,91.500000,88.500000,91.089996,28598000.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,90.089996,90.089996,91.150002,89.320000,89.470001,19744100.0
2024-09-24 00:00:00+00:00,97.190002,97.190002,97.500000,94.400002,96.070000,47423200.0
2024-09-25 00:00:00+00:00,95.459999,95.459999,96.180000,94.059998,94.379997,18816600.0
2024-09-26 00:00:00+00:00,105.070000,105.070000,105.970001,101.760002,102.690002,67261600.0
2024-09-27 00:00:00+00:00,107.330002,107.330002,109.430000,105.730003,105.970001,50075200.0

Process BIL

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2013-01-02 00:00:00+00:00,78.978294,91.620003,91.639999,91.620003,91.620003,1277900.0
2013-01-03 00:00:00+00:00,78.978294,91.620003,91.639999,91.620003,91.639999,294500.0
2013-01-04 00:00:00+00:00,78.995522,91.639999,91.639999,91.620003,91.620003,192700.0
2013-01-07 00:00:00+00:00,78.961044,91.599998,91.620003,91.599998,91.599998,179650.0
2013-01-08 00:00:00+00:00,78.961044,91.599998,91.620003,91.599998,91.620003,106650.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,91.381233,91.739998,91.739998,91.730003,91.739998,6998800.0
2024-09-24 00:00:00+00:00,91.391197,91.750000,91.760002,91.750000,91.750000,11580200.0
2024-09-25 00:00:00+00:00,91.411118,91.769997,91.769997,91.760002,91.760002,5875800.0
2024-09-26 00:00:00+00:00,91.411118,91.769997,91.779999,91.769997,91.769997,4937700.0
2024-09-27 00:00:00+00:00,91.441002,91.800003,91.809998,91.800003,91.800003,8616700.0

Process CSBGU7.SW

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2013-01-03 00:00:00+00:00,117.870003,117.870003,117.970001,117.800003,117.970001,13152.0
2013-01-04 00:00:00+00:00,117.459999,117.459999,117.459999,117.309998,117.449997,279.0
2013-01-07 00:00:00+00:00,117.510002,117.510002,117.510002,117.510002,117.510002,410.0
2013-01-08 00:00:00+00:00,117.599998,117.599998,117.669998,117.519997,117.519997,5165.0
2013-01-09 00:00:00+00:00,117.800003,117.800003,117.800003,117.339996,117.339996,250.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,136.740005,136.740005,137.179993,136.740005,137.100006,3960.0
2024-09-24 00:00:00+00:00,137.024994,137.024994,137.139999,136.649994,136.649994,6301.0
2024-09-25 00:00:00+00:00,137.065002,137.065002,137.240005,136.949997,137.020004,17642.0
2024-09-26 00:00:00+00:00,136.789993,136.789993,137.139999,136.535004,136.535004,21813.0
2024-09-27 00:00:00+00:00,136.904999,136.904999,137.014999,136.854996,137.014999,4951.0

Process ERND.L

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2013-10-15 00:00:00+00:00,82.134109,99.946289,99.946289,99.946289,99.946289,0.0
2013-10-16 00:00:00+00:00,82.130745,99.942192,99.942192,99.942192,99.942192,0.0
2013-10-17 00:00:00+00:00,82.227562,100.059998,100.300003,100.300003,100.300003,1.0
2013-10-18 00:00:00+00:00,82.248116,100.084999,100.084999,100.084999,100.084999,0.0
2013-10-21 00:00:00+00:00,82.211113,100.040001,100.040001,100.040001,100.040001,0.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,101.300003,101.300003,101.300003,101.230003,101.279999,3276.0
2024-09-24 00:00:00+00:00,101.269997,101.269997,101.360001,101.250801,101.300003,3112.0
2024-09-25 00:00:00+00:00,101.330002,101.330002,101.400002,101.283249,101.309998,4582.0
2024-09-26 00:00:00+00:00,101.410004,101.410004,101.419998,101.320000,101.330002,2732.0
2024-09-27 00:00:00+00:00,101.355003,101.355003,101.410004,101.320000,101.410004,326468.0

Process GLD

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2013-01-02 00:00:00+00:00,163.169998,163.169998,164.139999,163.139999,163.490005,10431800.0
2013-01-03 00:00:00+00:00,161.199997,161.199997,162.880005,160.830002,162.479996,16117500.0
2013-01-04 00:00:00+00:00,160.440002,160.440002,160.630005,158.889999,159.520004,19179800.0
2013-01-07 00:00:00+00:00,159.429993,159.429993,159.960007,159.149994,159.360001,9361800.0
2013-01-08 00:00:00+00:00,160.559998,160.559998,160.990005,160.009995,160.460007,7694800.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,242.679993,242.679993,243.460007,242.589996,242.970001,5426200.0
2024-09-24 00:00:00+00:00,246.070007,246.070007,246.190002,243.149994,243.389999,8386300.0
2024-09-25 00:00:00+00:00,245.729996,245.729996,246.470001,244.789993,246.190002,7393400.0
2024-09-26 00:00:00+00:00,246.979996,246.979996,247.369995,245.190002,246.440002,7041100.0
2024-09-27 00:00:00+00:00,245.020004,245.020004,246.750000,244.190002,246.309998,8329600.0

Process GOVT

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2013-01-02 00:00:00+00:00,20.598682,25.120001,25.129999,25.090000,25.120001,85100.0
2013-01-03 00:00:00+00:00,20.541286,25.049999,25.100000,25.030001,25.090000,23800.0
2013-01-04 00:00:00+00:00,20.549475,25.059999,25.059999,25.000000,25.010000,37100.0
2013-01-07 00:00:00+00:00,20.533083,25.040001,25.070000,25.040001,25.059999,44600.0
2013-01-08 00:00:00+00:00,20.582294,25.100000,25.100000,25.059999,25.090000,43200.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,23.435123,23.500000,23.530001,23.430000,23.480000,4912600.0
2024-09-24 00:00:00+00:00,23.455069,23.520000,23.530001,23.430000,23.450001,3933500.0
2024-09-25 00:00:00+00:00,23.385262,23.450001,23.490000,23.440001,23.490000,4989400.0
2024-09-26 00:00:00+00:00,23.375290,23.440001,23.469999,23.400000,23.450001,8237300.0
2024-09-27 00:00:00+00:00,23.445095,23.510000,23.520000,23.459999,23.480000,3520000.0

Process HYGH

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2014-05-29 00:00:00+00:00,55.913532,100.059998,100.080002,100.050003,100.059998,10500.0
2014-05-30 00:00:00+00:00,55.958237,100.139999,100.169998,100.139999,100.169998,700.0
2014-06-02 00:00:00+00:00,56.086758,100.370003,100.370003,100.316002,100.316002,1600.0
2014-06-03 00:00:00+00:00,56.064426,100.330002,100.699997,100.330002,100.699997,6500.0
2014-06-04 00:00:00+00:00,56.304714,100.760002,100.769997,100.339996,100.339996,1000.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,85.382629,85.930000,86.220001,85.900002,85.959999,43100.0
2024-09-24 00:00:00+00:00,85.203773,85.750000,85.940002,85.750000,85.809998,38300.0
2024-09-25 00:00:00+00:00,85.233582,85.779999,85.860001,85.695000,85.779999,16200.0
2024-09-26 00:00:00+00:00,85.243523,85.790001,85.970001,85.510002,85.510002,32900.0
2024-09-27 00:00:00+00:00,85.561485,86.110001,86.110001,85.839996,85.839996,18300.0

Process HYLD.L

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2013-01-02 00:00:00+00:00,59.270805,104.400002,104.750000,104.050003,104.750000,3034.0
2013-01-03 00:00:00+00:00,59.353104,104.544998,104.544998,104.544998,104.544998,0.0
2013-01-04 00:00:00+00:00,59.486530,104.779999,104.959999,104.760002,104.760002,64326.0
2013-01-07 00:00:00+00:00,59.673855,105.110001,105.230003,105.169998,105.169998,1373.0
2013-01-08 00:00:00+00:00,59.548969,104.889999,105.419998,105.180000,105.360001,391.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,87.760002,87.760002,87.779999,87.430000,87.760002,2287.0
2024-09-24 00:00:00+00:00,87.745003,87.745003,88.230003,87.080002,88.230003,2107.0
2024-09-25 00:00:00+00:00,87.769997,87.769997,88.220001,87.769997,87.820000,5750.0
2024-09-26 00:00:00+00:00,88.040001,88.040001,88.040001,87.750000,87.900002,8198.0
2024-09-27 00:00:00+00:00,88.239998,88.239998,88.389999,87.269997,87.269997,5862.0

Process HYMB

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2013-01-02 00:00:00+00:00,18.094900,29.225000,29.360001,29.075001,29.195000,439000.0
2013-01-03 00:00:00+00:00,18.104179,29.240000,29.245001,29.014999,29.219999,575600.0
2013-01-04 00:00:00+00:00,18.079422,29.200001,29.230000,29.184999,29.230000,52200.0
2013-01-07 00:00:00+00:00,18.110378,29.250000,29.250000,29.075001,29.110001,111000.0
2013-01-08 00:00:00+00:00,18.150627,29.315001,29.315001,29.190001,29.264999,31800.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,25.978296,26.070000,26.240000,26.070000,26.230000,3222700.0
2024-09-24 00:00:00+00:00,25.988262,26.080000,26.150000,26.070000,26.120001,2230100.0
2024-09-25 00:00:00+00:00,25.988262,26.080000,26.219999,26.080000,26.219999,408600.0
2024-09-26 00:00:00+00:00,26.008192,26.100000,26.150000,26.080000,26.150000,568300.0
2024-09-27 00:00:00+00:00,26.117804,26.209999,26.209999,26.139999,26.180000,601300.0

Process IAGG

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2015-11-12 00:00:00+00:00,42.054192,50.250000,50.250000,50.250000,50.250000,100.0
2015-11-13 00:00:00+00:00,42.054192,50.250000,50.250000,50.250000,50.250000,0.0
2015-11-16 00:00:00+00:00,41.928661,50.099998,50.099998,50.099998,50.099998,200.0
2015-11-17 00:00:00+00:00,41.953770,50.130001,50.130001,50.130001,50.130001,1500.0
2015-11-18 00:00:00+00:00,41.953770,50.130001,50.130001,50.130001,50.130001,0.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,51.889999,51.889999,51.889999,51.759998,51.790001,380500.0
2024-09-24 00:00:00+00:00,51.930000,51.930000,51.950001,51.834999,51.860001,314200.0
2024-09-25 00:00:00+00:00,51.799999,51.799999,51.860001,51.775002,51.860001,206300.0
2024-09-26 00:00:00+00:00,51.840000,51.840000,51.939999,51.820999,51.910000,670200.0
2024-09-27 00:00:00+00:00,51.884998,51.884998,51.889999,51.820000,51.830002,197900.0

Process IBIT

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2024-01-11 00:00:00+00:00,26.629999,26.629999,30.000000,26.280001,27.940001,37657300.0
2024-01-12 00:00:00+00:00,24.969999,24.969999,26.410000,24.750000,26.400000,22846800.0
2024-01-16 00:00:00+00:00,24.719999,24.719999,24.862000,24.040001,24.700001,15078200.0
2024-01-17 00:00:00+00:00,24.410000,24.410000,24.559999,24.150000,24.350000,13964500.0
2024-01-18 00:00:00+00:00,23.340000,23.340000,24.469999,23.200001,24.350000,17823200.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,36.040001,36.040001,36.355000,35.889999,36.060001,17294800.0
2024-09-24 00:00:00+00:00,36.639999,36.639999,36.689999,35.689999,36.139999,19764100.0
2024-09-25 00:00:00+00:00,35.970001,35.970001,36.450001,35.830002,36.150002,13547100.0
2024-09-26 00:00:00+00:00,36.840000,36.840000,37.529999,36.520000,36.654999,41457100.0
2024-09-27 00:00:00+00:00,37.389999,37.389999,37.939999,37.244999,37.419998,28884500.0

Process IBTS.SW

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2013-01-03 00:00:00+00:00,111.622910,132.139999,132.149994,132.080002,132.089996,40858.0
2013-01-04 00:00:00+00:00,111.597603,132.110001,132.110001,132.009995,132.080002,861.0
2013-01-07 00:00:00+00:00,111.555328,132.059998,132.179993,132.059998,132.179993,23222.0
2013-01-08 00:00:00+00:00,111.580673,132.089996,132.179993,132.070007,132.179993,26507.0
2013-01-09 00:00:00+00:00,111.606003,132.119995,132.199997,132.080002,132.080002,3718.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,128.210007,128.210007,128.315002,128.089996,128.089996,3825.0
2024-09-24 00:00:00+00:00,128.365005,128.365005,128.365005,128.250000,128.274994,10089.0
2024-09-25 00:00:00+00:00,128.324997,128.324997,128.380005,128.324997,128.365005,40543.0
2024-09-26 00:00:00+00:00,128.335007,128.335007,128.419998,128.195007,128.195007,43063.0
2024-09-27 00:00:00+00:00,128.384995,128.384995,128.384995,128.104996,128.104996,5878.0

Process IDEV

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2017-03-27 00:00:00+00:00,41.506092,50.930000,50.930000,50.930000,50.930000,300.0
2017-03-28 00:00:00+00:00,41.506092,50.930000,50.930000,50.930000,50.930000,0.0
2017-03-29 00:00:00+00:00,41.742432,51.220001,51.220001,51.220001,51.220001,200.0
2017-03-30 00:00:00+00:00,41.742432,51.220001,51.220001,51.220001,51.220001,0.0
2017-03-31 00:00:00+00:00,41.644630,51.099998,51.150002,51.099998,51.150002,700.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,69.970001,69.970001,70.044998,69.781998,69.839996,322700.0
2024-09-24 00:00:00+00:00,70.370003,70.370003,70.410004,70.014999,70.139999,552700.0
2024-09-25 00:00:00+00:00,69.980003,69.980003,70.519997,69.955002,70.489998,618400.0
2024-09-26 00:00:00+00:00,71.430000,71.430000,71.540001,71.019997,71.230003,919000.0
2024-09-27 00:00:00+00:00,71.019997,71.019997,71.529999,70.889999,71.309998,745500.0

Process IDTL.L

                           Adj Close   Close    High     Low   Open     Volume
Date
2015-01-21 00:00:00+00:00   3.912364  5.0100  5.0800  5.0800  5.080    60100.0
2015-01-22 00:00:00+00:00   3.912364  5.0100  5.0100  5.0100  5.010        0.0
2015-01-23 00:00:00+00:00   3.920174  5.0200  5.0600  5.0400  5.060  1440538.0
2015-01-26 00:00:00+00:00   3.920174  5.0200  5.0800  5.0600  5.080    55906.0
2015-01-27 00:00:00+00:00   3.959219  5.0700  5.0700  5.0700  5.070     1000.0
...                              ...     ...     ...     ...    ...        ...
2024-09-23 00:00:00+00:00   3.659000  3.6590  3.6730  3.6370  3.662  2576231.0
2024-09-24 00:00:00+00:00   3.654000  3.6540  3.6615  3.6260  3.659   495956.0
2024-09-25 00:00:00+00:00   3.643500  3.6435  3.6725  3.6400  3.660   505820.0
2024-09-26 00:00:00+00:00   3.625000  3.6250  3.6515  3.6175  3.639   845657.0
2024-09-27 00:00:00+00:00   3.655000  3.6550  3.6660  3.6415  3.650   951038.0

[2448 rows x 6 columns]

Process IDTM.L

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2013-01-02 00:00:00+00:00,155.996201,199.014999,199.429993,199.089996,199.270004,12473.0
2013-01-03 00:00:00+00:00,155.761047,198.714996,199.309998,198.699997,199.309998,2915.0
2013-01-04 00:00:00+00:00,154.761642,197.440002,197.720001,197.210007,197.399994,1225.0
2013-01-07 00:00:00+00:00,155.173157,197.964996,198.399994,197.889999,198.399994,4449.0
2013-01-08 00:00:00+00:00,155.569016,198.470001,198.559998,197.899994,198.169998,28503.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,180.039993,180.039993,180.669998,179.820007,180.649994,18792.0
2024-09-24 00:00:00+00:00,180.490005,180.490005,180.600006,179.789993,180.550003,11780.0
2024-09-25 00:00:00+00:00,180.229996,180.229996,180.850006,180.080002,180.669998,77607.0
2024-09-26 00:00:00+00:00,179.899994,179.899994,180.479996,179.750000,180.190002,36029.0
2024-09-27 00:00:00+00:00,180.289993,180.289993,180.529999,180.000000,180.380005,79192.0

Process IEF

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2013-01-02 00:00:00+00:00,85.080452,107.000000,107.150002,106.949997,107.000000,2561300.0
2013-01-03 00:00:00+00:00,84.643120,106.449997,107.050003,106.440002,107.029999,2131900.0
2013-01-04 00:00:00+00:00,84.682877,106.500000,106.500000,106.209999,106.339996,975400.0
2013-01-07 00:00:00+00:00,84.730614,106.559998,106.599998,106.419998,106.500000,1387400.0
2013-01-08 00:00:00+00:00,84.937317,106.820000,106.839996,106.690002,106.709999,364200.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,98.056137,98.360001,98.449997,97.989998,98.220001,7491700.0
2024-09-24 00:00:00+00:00,98.165794,98.470001,98.500000,98.010002,98.089996,6580800.0
2024-09-25 00:00:00+00:00,97.767029,98.070000,98.269997,98.070000,98.269997,10455100.0
2024-09-26 00:00:00+00:00,97.697250,98.000000,98.199997,97.839996,98.150002,8026500.0
2024-09-27 00:00:00+00:00,98.086044,98.389999,98.440002,98.150002,98.230003,6207700.0

Process IEMB.L

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2013-01-02 00:00:00+00:00,92.279999,92.279999,91.949997,91.610001,91.610001,5604.0
2013-01-03 00:00:00+00:00,93.129997,93.129997,93.169998,93.169998,93.169998,315.0
2013-01-04 00:00:00+00:00,93.349998,93.349998,93.650002,93.239998,93.650002,4471.0
2013-01-07 00:00:00+00:00,92.849998,92.849998,93.510002,93.330002,93.480003,860.0
2013-01-08 00:00:00+00:00,92.690002,92.690002,92.769997,92.680000,92.709999,2219.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,90.334999,90.334999,90.334999,90.334999,90.334999,0.0
2024-09-24 00:00:00+00:00,90.391403,90.391403,90.391403,90.391403,90.391403,0.0
2024-09-25 00:00:00+00:00,90.370697,90.370697,90.370697,90.370697,90.370697,0.0
2024-09-26 00:00:00+00:00,90.435501,90.435501,90.435501,90.435501,90.435501,0.0
2024-09-27 00:00:00+00:00,90.560501,90.560501,90.560501,90.560501,90.560501,0.0

Process IGIL.L

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2013-01-02 00:00:00+00:00,150.554993,150.554993,153.000000,150.649994,153.000000,45789.0
2013-01-03 00:00:00+00:00,149.660004,149.660004,150.500000,149.770004,150.500000,535.0
2013-01-04 00:00:00+00:00,148.279999,148.279999,148.970001,147.770004,148.970001,2381.0
2013-01-07 00:00:00+00:00,148.860001,148.860001,149.100006,148.699997,149.100006,4745.0
2013-01-08 00:00:00+00:00,149.119995,149.119995,149.259995,149.149994,149.259995,5179.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,161.729996,161.729996,162.399994,161.270004,161.720001,2933.0
2024-09-24 00:00:00+00:00,162.464996,162.464996,162.600006,161.539993,162.589996,6153.0
2024-09-25 00:00:00+00:00,161.679993,161.679993,162.750000,161.830002,162.649994,1537.0
2024-09-26 00:00:00+00:00,161.524994,161.524994,162.149994,161.199997,162.149994,1862.0
2024-09-27 00:00:00+00:00,161.835007,161.835007,162.240005,161.649994,162.229996,1159.0

Process IGSB

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2013-01-02 00:00:00+00:00,41.400284,52.750000,52.759998,52.720001,52.720001,1267200.0
2013-01-03 00:00:00+00:00,41.396378,52.744999,52.759998,52.705002,52.724998,1497000.0
2013-01-04 00:00:00+00:00,41.415993,52.770000,52.770000,52.700001,52.720001,953200.0
2013-01-07 00:00:00+00:00,41.443455,52.805000,52.814999,52.724998,52.744999,1621000.0
2013-01-08 00:00:00+00:00,41.459167,52.825001,52.834999,52.770000,52.770000,2825600.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,52.473663,52.660000,52.720001,52.639999,52.639999,3521800.0
2024-09-24 00:00:00+00:00,52.543415,52.730000,52.740002,52.639999,52.669998,2559100.0
2024-09-25 00:00:00+00:00,52.453732,52.639999,52.720001,52.639999,52.720001,4468900.0
2024-09-26 00:00:00+00:00,52.433804,52.619999,52.669998,52.580002,52.660000,1968000.0
2024-09-27 00:00:00+00:00,52.523487,52.709999,52.730000,52.660000,52.680000,2708500.0

Process IHYU.L

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2013-01-02 00:00:00+00:00,60.691818,112.879997,113.699997,112.050003,113.699997,17029.0
2013-01-03 00:00:00+00:00,60.535908,112.589996,112.970001,112.309998,112.769997,11622.0
2013-01-04 00:00:00+00:00,60.664928,112.830002,112.910004,112.430000,112.879997,18089.0
2013-01-07 00:00:00+00:00,60.702576,112.900002,113.010002,112.669998,112.870003,6562.0
2013-01-08 00:00:00+00:00,60.756332,113.000000,113.099998,112.699997,113.099998,27785.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,96.430000,96.430000,96.690002,96.360001,96.690002,92543.0
2024-09-24 00:00:00+00:00,96.389999,96.389999,97.089996,96.250000,97.089996,52170.0
2024-09-25 00:00:00+00:00,96.419998,96.419998,96.779999,96.279999,96.300003,47906.0
2024-09-26 00:00:00+00:00,96.410004,96.410004,97.070000,96.339996,97.070000,15668.0
2024-09-27 00:00:00+00:00,96.980003,96.980003,96.980003,96.239998,96.239998,143376.0

Process ISAG.L

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2013-01-02 00:00:00+00:00,27.680000,27.680000,27.790001,27.660000,27.790001,670.0
2013-01-03 00:00:00+00:00,27.680000,27.680000,27.709999,27.700001,27.700001,228.0
2013-01-04 00:00:00+00:00,27.639999,27.639999,27.650000,27.570000,27.590000,5228.0
2013-01-07 00:00:00+00:00,27.600000,27.600000,27.790001,27.580000,27.700001,4082.0
2013-01-08 00:00:00+00:00,27.610001,27.610001,27.750000,27.660000,27.750000,2926.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,45.505001,45.505001,45.540001,45.299999,45.369999,12580.0
2024-09-24 00:00:00+00:00,45.959999,45.959999,46.070000,45.480000,45.740002,12941.0
2024-09-25 00:00:00+00:00,45.535000,45.535000,45.880001,45.470001,45.680000,1730.0
2024-09-26 00:00:00+00:00,46.029999,46.029999,46.099998,45.549999,45.660000,1211.0
2024-09-27 00:00:00+00:00,46.654999,46.654999,46.740002,46.169998,46.290001,6845.0

Process ISTB

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2013-01-02 00:00:00+00:00,39.409718,50.044998,50.044998,50.044998,50.044998,0.0
2013-01-03 00:00:00+00:00,39.409718,50.044998,50.160000,50.044998,50.160000,3400.0
2013-01-04 00:00:00+00:00,39.390038,50.020000,50.020000,50.020000,50.020000,400.0
2013-01-07 00:00:00+00:00,39.390038,50.020000,50.029999,50.014999,50.025002,14600.0
2013-01-08 00:00:00+00:00,39.413662,50.049999,50.049999,49.980000,49.980000,1600.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,48.538818,48.700001,48.720001,48.639999,48.669998,630100.0
2024-09-24 00:00:00+00:00,48.588650,48.750000,48.750000,48.650002,48.700001,204500.0
2024-09-25 00:00:00+00:00,48.528847,48.689999,48.720001,48.680000,48.700001,166100.0
2024-09-26 00:00:00+00:00,48.488983,48.650002,48.689999,48.619999,48.669998,169900.0
2024-09-27 00:00:00+00:00,48.568718,48.730000,48.750000,48.680000,48.680000,268700.0

Process IVE

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2013-01-02 00:00:00+00:00,52.182129,67.980003,68.000000,67.430000,67.699997,1117500.0
2013-01-03 00:00:00+00:00,52.128384,67.910004,68.199997,67.730003,67.959999,959200.0
2013-01-04 00:00:00+00:00,52.496822,68.389999,68.480003,67.949997,68.040001,691900.0
2013-01-07 00:00:00+00:00,52.312614,68.150002,68.209999,67.879997,68.139999,550200.0
2013-01-08 00:00:00+00:00,52.089985,67.860001,68.050003,67.629997,68.019997,1302900.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,196.011993,197.149994,197.259995,196.520004,196.839996,301800.0
2024-09-24 00:00:00+00:00,196.011993,197.149994,197.600006,196.639999,197.240005,1036600.0
2024-09-25 00:00:00+00:00,194.759995,194.759995,196.350006,194.440002,196.110001,447200.0
2024-09-26 00:00:00+00:00,195.759995,195.759995,196.009995,195.240005,195.240005,337800.0
2024-09-27 00:00:00+00:00,196.500000,196.500000,197.630005,196.350006,196.419998,472500.0

Process IWRD.L

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2013-01-02 00:00:00+00:00,1776.0,1776.0,1848.000000,1766.920044,1765.0,502324.0
2013-01-03 00:00:00+00:00,1796.0,1796.0,1797.000000,1787.300049,1789.0,190327.0
2013-01-04 00:00:00+00:00,1806.0,1806.0,1809.000000,1798.800049,1801.0,1066404.0
2013-01-07 00:00:00+00:00,1801.0,1801.0,1806.000000,1796.000000,1806.0,716990.0
2013-01-08 00:00:00+00:00,1794.0,1794.0,1801.550049,1792.000000,1794.0,712517.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,5882.0,5882.0,5906.509766,5876.000000,5896.0,15022.0
2024-09-24 00:00:00+00:00,5882.0,5882.0,5898.244141,5856.000000,5895.0,13535.0
2024-09-25 00:00:00+00:00,5897.0,5897.0,5900.000000,5862.000000,5883.0,19582.0
2024-09-26 00:00:00+00:00,5900.0,5900.0,5952.000000,5898.000000,5943.0,26075.0
2024-09-27 00:00:00+00:00,5920.0,5920.0,5926.000000,5906.000000,5913.0,34924.0

Process JDN.MX

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2015-03-26 00:00:00+00:00,421.976715,451.190002,451.190002,451.190002,451.190002,20000.0
2015-04-06 00:00:00+00:00,421.986053,451.200012,451.200012,451.200012,451.200012,2222.0
2015-04-24 00:00:00+00:00,505.906281,540.929993,540.929993,540.929993,540.929993,952.0
2015-05-06 00:00:00+00:00,465.522095,497.750000,497.750000,497.750000,497.750000,952.0
2015-05-07 00:00:00+00:00,464.081787,496.209991,496.209991,496.209991,496.209991,2222.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,578.000000,578.000000,578.989990,567.000000,567.000000,667.0
2024-09-24 00:00:00+00:00,653.000000,653.000000,653.000000,615.000000,628.700012,3002.0
2024-09-25 00:00:00+00:00,649.359985,649.359985,655.989990,629.210022,649.979980,1316.0
2024-09-26 00:00:00+00:00,744.500000,744.500000,749.989990,685.000000,685.000000,4964.0
2024-09-27 00:00:00+00:00,786.130005,786.130005,791.989990,765.010010,767.000000,1560.0

Process LQDE.L

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2013-01-02 00:00:00+00:00,76.102707,114.824997,115.599998,113.989998,115.599998,22658.0
2013-01-03 00:00:00+00:00,76.125916,114.860001,115.136002,114.480003,114.480003,71159.0
2013-01-04 00:00:00+00:00,75.923767,114.555000,114.720001,114.110001,114.110001,80771.0
2013-01-07 00:00:00+00:00,76.165695,114.919998,115.180000,114.550003,114.550003,54127.0
2013-01-08 00:00:00+00:00,76.208755,114.985001,115.070000,114.849998,114.900002,141965.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,105.910004,105.910004,106.430000,105.690002,106.000000,20396.0
2024-09-24 00:00:00+00:00,106.139999,106.139999,106.480003,105.559998,105.849998,272396.0
2024-09-25 00:00:00+00:00,105.769997,105.769997,106.669998,105.650002,106.650002,128626.0
2024-09-26 00:00:00+00:00,105.440002,105.440002,106.070000,105.290001,106.070000,509089.0
2024-09-27 00:00:00+00:00,105.930000,105.930000,106.000000,105.169998,105.500000,83029.0

Process METV

                           Adj Close  Close    High     Low   Open    Volume
Date
2021-06-30 00:00:00+00:00  15.083441  15.12  15.190  15.042  15.08  333900.0
2021-07-01 00:00:00+00:00  14.853997  14.89  15.130  14.840  15.13  228800.0
2021-07-02 00:00:00+00:00  14.963731  15.00  15.100  14.930  15.02  367200.0
2021-07-06 00:00:00+00:00  14.973707  15.01  15.090  14.870  15.08  654000.0
2021-07-07 00:00:00+00:00  14.853997  14.89  15.150  14.840  15.06  358500.0
...                              ...    ...     ...     ...    ...       ...
2024-09-23 00:00:00+00:00  13.200000  13.20  13.215  13.120  13.13  215800.0
2024-09-24 00:00:00+00:00  13.440000  13.44  13.445  13.194  13.29  143000.0
2024-09-25 00:00:00+00:00  13.380000  13.38  13.520  13.355  13.37  260900.0
2024-09-26 00:00:00+00:00  13.630000  13.63  13.740  13.465  13.68  231200.0
2024-09-27 00:00:00+00:00  13.580000  13.58  13.660  13.545  13.61  177500.0

[817 rows x 6 columns]

Process PAVE

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2017-03-08 00:00:00+00:00,14.082245,14.750000,14.840000,14.750000,14.840000,600.0
2017-03-09 00:00:00+00:00,13.885571,14.544000,14.790000,14.470000,14.750000,6800.0
2017-03-10 00:00:00+00:00,14.024961,14.690000,14.760000,14.565000,14.740000,58200.0
2017-03-13 00:00:00+00:00,14.091792,14.760000,14.830000,14.690000,14.830000,19700.0
2017-03-14 00:00:00+00:00,13.958130,14.620000,14.760000,14.500000,14.760000,11200.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,40.580002,40.580002,40.810001,40.340000,40.570000,628600.0
2024-09-24 00:00:00+00:00,40.689999,40.689999,40.880001,40.529999,40.709999,586100.0
2024-09-25 00:00:00+00:00,40.459999,40.459999,40.869999,40.395000,40.799999,1364500.0
2024-09-26 00:00:00+00:00,40.849998,40.849998,41.259998,40.764000,40.930000,699300.0
2024-09-27 00:00:00+00:00,40.990002,40.990002,41.404999,40.840000,41.080002,939400.0

Process SDHY.L

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2013-10-15 00:00:00+00:00,58.523308,99.618042,99.618042,99.618042,99.618042,0.0
2013-10-16 00:00:00+00:00,58.560879,99.681992,99.681992,99.681992,99.681992,0.0
2013-10-17 00:00:00+00:00,58.648720,99.831497,99.831497,99.831497,99.831497,0.0
2013-10-18 00:00:00+00:00,58.938622,100.324997,100.324997,100.324997,100.324997,0.0
2013-10-21 00:00:00+00:00,59.070827,100.550003,100.550003,100.550003,100.550003,0.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,88.809998,88.809998,88.930000,88.250000,88.250000,1364.0
2024-09-24 00:00:00+00:00,88.610001,88.610001,89.349998,88.199997,89.349998,1697.0
2024-09-25 00:00:00+00:00,88.714996,88.714996,89.000000,88.699997,89.000000,10793.0
2024-09-26 00:00:00+00:00,88.639999,88.639999,89.360001,88.529999,89.360001,32704.0
2024-09-27 00:00:00+00:00,89.000000,89.000000,89.089996,88.199997,88.199997,3897.0

Process SGOV

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2020-06-01 00:00:00+00:00,90.209602,100.010002,100.019997,100.010002,100.019997,1600.0
2020-06-02 00:00:00+00:00,90.212311,100.013000,100.019997,100.013000,100.019997,4000.0
2020-06-03 00:00:00+00:00,90.214111,100.014999,100.014999,100.014999,100.014999,100.0
2020-06-04 00:00:00+00:00,90.214111,100.014999,100.021004,100.000000,100.000000,2400.0
2020-06-05 00:00:00+00:00,90.209602,100.010002,100.019997,100.010002,100.019997,400.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,100.245171,100.660004,100.660004,100.639999,100.650002,5220900.0
2024-09-24 00:00:00+00:00,100.255127,100.669998,100.669998,100.660004,100.660004,3923500.0
2024-09-25 00:00:00+00:00,100.255127,100.669998,100.690002,100.669998,100.680000,3372400.0
2024-09-26 00:00:00+00:00,100.265083,100.680000,100.690002,100.680000,100.680000,4364400.0
2024-09-27 00:00:00+00:00,100.304924,100.720001,100.730003,100.720001,100.720001,4945400.0

Process SHV

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2013-01-02 00:00:00+00:00,94.284561,110.239998,110.250000,110.239998,110.239998,259200.0
2013-01-03 00:00:00+00:00,94.284561,110.239998,110.250000,110.230003,110.239998,357500.0
2013-01-04 00:00:00+00:00,94.284561,110.239998,110.239998,110.230003,110.230003,303100.0
2013-01-07 00:00:00+00:00,94.276070,110.230003,110.239998,110.220001,110.230003,288400.0
2013-01-08 00:00:00+00:00,94.276070,110.230003,110.230003,110.220001,110.220001,140900.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,110.083084,110.550003,110.550003,110.529999,110.529999,3188200.0
2024-09-24 00:00:00+00:00,110.093040,110.559998,110.570000,110.550003,110.550003,3068800.0
2024-09-25 00:00:00+00:00,110.112961,110.580002,110.589996,110.570000,110.570000,3090200.0
2024-09-26 00:00:00+00:00,110.122910,110.589996,110.589996,110.580002,110.580002,3071100.0
2024-09-27 00:00:00+00:00,110.162743,110.629997,110.629997,110.620003,110.620003,4247700.0

Process SHY

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2013-01-02 00:00:00+00:00,72.556351,84.400002,84.410004,84.400002,84.400002,2469100.0
2013-01-03 00:00:00+00:00,72.556351,84.400002,84.430000,84.389999,84.410004,1816100.0
2013-01-04 00:00:00+00:00,72.564934,84.410004,84.410004,84.389999,84.389999,1028700.0
2013-01-07 00:00:00+00:00,72.564934,84.410004,84.410004,84.389999,84.389999,672300.0
2013-01-08 00:00:00+00:00,72.573502,84.419998,84.430000,84.400002,84.400002,712300.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,82.924080,83.209999,83.239998,83.150002,83.190002,5030800.0
2024-09-24 00:00:00+00:00,83.003807,83.290001,83.300003,83.199997,83.230003,8947900.0
2024-09-25 00:00:00+00:00,82.934044,83.220001,83.279999,83.220001,83.269997,4829100.0
2024-09-26 00:00:00+00:00,82.854317,83.139999,83.230003,83.139999,83.220001,2321800.0
2024-09-27 00:00:00+00:00,82.983871,83.269997,83.279999,83.199997,83.220001,3208500.0

Process TFLO

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2014-02-04 00:00:00+00:00,42.680046,50.099998,50.119999,50.099998,50.119999,16500.0
2014-02-05 00:00:00+00:00,42.680046,50.099998,50.119999,50.099998,50.119999,3600.0
2014-02-06 00:00:00+00:00,42.680046,50.099998,50.119999,50.099998,50.099998,4600.0
2014-02-07 00:00:00+00:00,42.680046,50.099998,50.099998,50.099998,50.099998,8900.0
2014-02-10 00:00:00+00:00,42.680046,50.099998,50.119999,50.099998,50.119999,800.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,50.363194,50.560001,50.560001,50.549999,50.549999,1797400.0
2024-09-24 00:00:00+00:00,50.373154,50.570000,50.570000,50.560001,50.560001,1876900.0
2024-09-25 00:00:00+00:00,50.383118,50.580002,50.580002,50.570000,50.570000,975800.0
2024-09-26 00:00:00+00:00,50.373154,50.570000,50.580002,50.570000,50.570000,1301200.0
2024-09-27 00:00:00+00:00,50.393078,50.590000,50.599998,50.590000,50.590000,2162400.0

Process TLT

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2013-01-02 00:00:00+00:00,88.518784,119.559998,119.900002,119.410004,119.760002,7472700.0
2013-01-03 00:00:00+00:00,87.319351,117.940002,119.489998,117.900002,119.379997,10004300.0
2013-01-04 00:00:00+00:00,87.659912,118.400002,118.440002,117.360001,117.660004,9574600.0
2013-01-07 00:00:00+00:00,87.696907,118.449997,118.730003,118.000000,118.370003,4193100.0
2013-01-08 00:00:00+00:00,88.274467,119.230003,119.290001,118.820000,119.040001,4380900.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,98.338074,98.669998,99.089996,98.019997,98.500000,35703900.0
2024-09-24 00:00:00+00:00,98.318146,98.650002,98.889999,97.849998,98.000000,31005400.0
2024-09-25 00:00:00+00:00,97.500908,97.830002,98.320000,97.790001,98.260002,36738200.0
2024-09-26 00:00:00+00:00,97.730125,98.059998,98.250000,97.419998,98.070000,33332300.0
2024-09-27 00:00:00+00:00,98.238411,98.570000,98.760002,98.209999,98.540001,28317600.0

Process USO

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2013-01-02 00:00:00+00:00,270.559998,270.559998,272.720001,269.600006,272.000000,693100.0
2013-01-03 00:00:00+00:00,269.920013,269.920013,271.600006,269.600006,270.799988,489425.0
2013-01-04 00:00:00+00:00,271.040009,271.040009,271.119995,268.559998,269.600006,742613.0
2013-01-07 00:00:00+00:00,271.359985,271.359985,271.760010,269.040009,269.760010,356675.0
2013-01-08 00:00:00+00:00,271.679993,271.679993,272.239990,269.839996,272.079987,480188.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,72.250000,72.250000,73.529999,71.169998,72.959999,2837700.0
2024-09-24 00:00:00+00:00,73.290001,73.290001,73.860001,72.830002,73.849998,2387000.0
2024-09-25 00:00:00+00:00,71.480003,71.480003,72.800003,70.940002,72.349998,3469200.0
2024-09-26 00:00:00+00:00,69.010002,69.010002,70.120003,68.599998,69.220001,4593800.0
2024-09-27 00:00:00+00:00,70.269997,70.269997,70.320000,68.800003,69.300003,3214700.0

Process VGIT

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2013-01-02 00:00:00+00:00,51.734016,65.349998,65.370003,65.279999,65.349998,50900.0
2013-01-03 00:00:00+00:00,51.567806,65.139999,65.349998,65.139999,65.349998,23300.0
2013-01-04 00:00:00+00:00,51.559868,65.129997,65.160004,65.059998,65.099998,35000.0
2013-01-07 00:00:00+00:00,51.599453,65.180000,65.199997,65.110001,65.110001,26000.0
2013-01-08 00:00:00+00:00,51.694416,65.300003,65.300003,65.190002,65.190002,130100.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,60.348495,60.540001,60.590000,60.389999,60.500000,2391600.0
2024-09-24 00:00:00+00:00,60.438213,60.630001,60.639999,60.419998,60.450001,1570400.0
2024-09-25 00:00:00+00:00,60.268745,60.459999,60.560001,60.459999,60.560001,1787400.0
2024-09-26 00:00:00+00:00,60.198971,60.389999,60.500000,60.349998,60.480000,1907800.0
2024-09-27 00:00:00+00:00,60.398338,60.590000,60.599998,60.470001,60.500000,1617600.0

Process ZM

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2019-04-18 00:00:00+00:00,62.000000,62.000000,66.000000,60.320999,65.000000,25764700.0
2019-04-22 00:00:00+00:00,65.699997,65.699997,68.900002,59.939999,61.000000,9949700.0
2019-04-23 00:00:00+00:00,69.000000,69.000000,74.168999,65.550003,66.870003,6786500.0
2019-04-24 00:00:00+00:00,63.200001,63.200001,71.500000,63.160000,71.400002,4973500.0
2019-04-25 00:00:00+00:00,65.000000,65.000000,66.849998,62.599998,64.739998,3863300.0
...,...,...,...,...,...,...
2024-09-23 00:00:00+00:00,68.790001,68.790001,68.959999,67.510002,67.660004,2526600.0
2024-09-24 00:00:00+00:00,69.430000,69.430000,70.169998,68.651001,69.410004,2294700.0
2024-09-25 00:00:00+00:00,67.949997,67.949997,69.360001,67.785004,68.959999,2479900.0
2024-09-26 00:00:00+00:00,68.900002,68.900002,69.349998,68.129997,68.430000,2018900.0
2024-09-27 00:00:00+00:00,69.550003,69.550003,69.589996,68.721001,69.010002,1417500.0

                               start  i_start                       end  i_end
Symbol
0341.HK    2013-01-02 00:00:00+00:00        0 2024-09-27 00:00:00+00:00   3029
0405.HK    2013-01-02 00:00:00+00:00        0 2024-09-27 00:00:00+00:00   3029
0737.HK    2013-01-02 00:00:00+00:00        0 2024-09-27 00:00:00+00:00   3029
0P00001DU6 2019-01-02 00:00:00+00:00     1546 2024-09-27 00:00:00+00:00   3029
0P00002C5C 2019-01-02 00:00:00+00:00     1546 2024-09-27 00:00:00+00:00   3029
...                              ...      ...                       ...    ...
TFLO       2014-02-04 00:00:00+00:00      281 2024-09-27 00:00:00+00:00   3029
TLT        2013-01-02 00:00:00+00:00        0 2024-09-27 00:00:00+00:00   3029
USO        2013-01-02 00:00:00+00:00        0 2024-09-27 00:00:00+00:00   3029
VGIT       2013-01-02 00:00:00+00:00        0 2024-09-27 00:00:00+00:00   3029
ZM         2019-04-18 00:00:00+00:00     1622 2024-09-27 00:00:00+00:00   3029

[62 rows x 4 columns]

In [19]:
print(returns.shape)
print(data.shape)

(3030, 62)
(3030, 372)